body{
	width: 100%;
 	height: 100%;

	font-family: 'Source Code Pro', monospace;
}

a{
	text-decoration: none;
}

button{
	border: none;
	font-family: 'Source Code Pro';
	font-weight: bold;
	background-color: #8bcdf3;
	color: #233;
}

input{
	border: none;
	font-family: 'Source Code Pro';
	font-weight: bold;
	color: #000;
}

.bar{
	position: fixed;

	top: 15px;
	left: 80px;

	display: flex;
	flex-direction: row;
	/*left: 100px;*/

	z-index: 2;
}

.label_class{
	font-size: 20px;
	color: white;
	margin-right: 20px;
	/*z-index: 2;*/
}


.label_class:hover{
	color: #8bcdf3;
}

.search_bar{
	position: fixed;
	/*position: absolute;*/
	width: 100vw;
	left: 0;
	top: 0;
	height: 60px;
	background-color: #123;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	z-index: 1;
}

.category_groups{
 	position: absolute;
 	top: 60px;
 	left: 0px;

 	width: 100%;
 	min-height: calc(100% - 60px);
 	/*height: fit-content;*/
 	/*background-color: #125555;*/
 	background-image: linear-gradient(to bottom right, #8bcdf3, #125555);

 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;
 	flex-wrap: wrap;
}

.category{
	width: 300px;
	height: 150px;
	color: white;
	text-shadow: black;
	margin: 10px;
	border-radius: 5px;

	font-size: 20px;

	background-size: 300px 150px;
	background-repeat: none;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 5px 5px 10px rgb(0 0 0 / 1);
}

.category:hover{
	font-size: 30px;
	background-size: 1px 1px;
}



.termin_groups{
 	position: absolute;
 	top: 60px;
 	left: 0px;

 	width: 20%;
 	min-height: calc(100% - 60px);

 	/*background-image: linear-gradient(to bottom right, #8bcdf3, #125555);*/

 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;
 	flex-wrap: wrap;
}

.termin_groups:hover, .termin_list:hover{
 	background-color: #123;
}

.termin_list:hover #termins_header_id{
	background-color: #8bcd00;
	color: white;
}

.termin_list:hover .termin_name{
	color: white;
	border: none;
}

.termin_list:hover .termin_name:hover{
	text-align: center;
	color: cyan;
	font-weight: bold;
	border: none;
	box-shadow: 0px 0px 15px #8bcd00;
}


.termin_list{
	position: absolute;

	width: 93%;
	height: 97%;

	padding: 5px;

 	/*background-image: linear-gradient(#f0fff0, #f0fff0);*/
 	background-color: #8bcdf3;
}

.termin_name{
	text-align: center;
	font-size: 20px;

	color: #000;
	padding-bottom: 5px;

	border-bottom: solid;
	border-color: #fff;
	border-width: 1px;
	margin-bottom: 1px;
}

#termins_header_id{
	font-weight: bold;

	color: #000;
	display: flex;
	justify-content: center;
	margin: 0px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 5px;

	background-color: #fff;
}


/*.termin{
	width: 300px;
	height: 150px;
	color: white;
	text-shadow: black;
	margin: 10px;
	border-radius: 5px;

	font-size: 20px;

	background-size: 300px 150px;
	background-repeat: none;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow: 5px 5px 10px rgb(0 0 0 / 1);
}

*/


.black_screen.show{
	display: none;
}


.black_screen{
	position: absolute;
	width: 100%;
	height: 100%;

	bottom: 0;
	left: 0;

	background-color: #0009;
	overflow: hidden;

	z-index: 100;
}


#btn_close{
	position: absolute;
	top: 34%;
	left: calc(34% + 390px);

	font-weight: bold;
	border-radius: 5px;
	background-color: #125555;
	color: orange;
}


.create_category_field{
	margin: 10px;
	float: left;
	color: white;
}

.create_category_field input{
	width: 80%;
	border-radius: 5px;
}



.create_form{
	position: absolute;
	background-color: #125555;
	width: 390px;
	height: 180px;

	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: center;

	border-radius: 5px;

	top: 35%;
	left: 35%;
}


.create_form button{
	position: relative;
	left: 35%;

	border-radius: 5px;

	margin-top: 20px;
	width: 30%;
}









.error{
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: red;
	color: white;
	font-size: 100px;
}