<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'/>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">

</head>

<body>
{% block body %}
{% endblock %}
</body>
</html>