{% extends 'base.html'%}

{% block body %}


	{% include 'bar.html' %}
	{% block bar %}
		<label id="create" class="create_button">create</label>
	{% endblock %}

	<div class="search_bar">
		<form  method="get" action="/post/" enctype="multipart/form-data" class="search_bar_form">
			<!-- {% csrf_token %} -->

			<input type="search" name="title" placeholder="Search post">

			<button type="submit">search</button>

			<input type="radio" id="tool" name="tool" value="True">
			<label for="tool" class="post_checkbox">Tool</label><br>
			<input type="radio" id="post" name="post" value="True">
			<label for="post" class="post_checkbox">Post</label><br>

		</form>
	</div>


	<div class="post_page_list">
		{% for post in form  %}
			<a href="/post/{{post.id}}/">

				{% if post.posttype == "post" %}
					<div class="post_page_post">
						{{ post.title }}
					</div>
				{% else %}
					<div class="post_page_tool">
						{{ post.title }}
					</div>
				{% endif %}
			</a>

		{% endfor %}
	</div>


	<div id="black_screen_id" class="black_screen show">
		<form id="form-id" class="create_form" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in create_form %}
				<div class="create_category_field">
					{{ field.label }}: {{ field }}
				</div>
			{% endfor %}
			<button>create</button>
		</form>
		<button id="btn_post_close">x</button>
	</div>


	<script type="text/javascript">
		const create_post = document.querySelector('#create')
		const form = document.querySelector('#black_screen_id')

		const close = document.querySelector('#btn_post_close')

		create_post.addEventListener('click', () => {
			form.classList.remove('show')
			// btn.classList.toggle('a'),
		})

		close.addEventListener('click', () => {
			form.classList.add('show')
			// btn.classList.toggle('a'),
		})
	</script>

{% endblock %}