{% extends 'base.html'%}

{% block body %}


	{% include 'bar.html' %}

	<div class="search_bar">
		<form  method="get" action="/termin/" enctype="multipart/form-data">
			<!-- {% csrf_token %} -->

			<input type="search" name="title" placeholder="Search termin">
			<button type="submit">search</button>
		</form>
	</div>




	<div class="termin_page_list">
		{% for termin in form  %}
			<a href="/termin/{{termin.id}}/">
				<div class="termin_page_termin">
					{{ termin.title }}
				</div>
			</a>

		{% endfor %}
	</div>


	<div id="black_screen_id" class="black_screen show">
		<form id="form-id" class="create_termin_form" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="create_termin_title">
				<label>Title</label>
				{{ create_form.title }}
			</div>
			<div class="create_termin_abbreviation">
				<div class="abbr_long">
					<label>Abbreviation</label>
					{{ create_form.abbreviation }}
				</div>

				<div class="abbr_long">
					<label>Long</label>
					{{ create_form.longed }}
				</div>
			</div>

			<div class="create_termin_category">
				<label>Category</label>
				{{ create_form.category }}
			</div>

			<div class="create_termin_text_image">
				<div class="text_image">
					<label>Body Text</label>
					{{ create_form.text }}
				</div>

				<div class="image_text">
					<label>Image</label>
					{{ create_form.image }}
				</div>
			</div>

			<button class="create_termin_form_button">create</button>
		</form>
		<button id="btn_close_termin_form">x</button>
	</div>

	<script type="text/javascript">
		const create_termin = document.querySelector('#create')
		const form = document.querySelector('#black_screen_id')

		const close = document.querySelector('#btn_close_termin_form')

		create_termin.addEventListener('click', () => {
			form.classList.remove('show')
			// btn.classList.toggle('a'),
		})

		close.addEventListener('click', () => {
			form.classList.add('show')
			// btn.classList.toggle('a'),
		})

	</script>

{% endblock %}